/ex2/nbproject/private/
/ex2/build/
/ex3/nbproject/private/
/ex3/build/
/ex4/nbproject/private/
/ex4/build/
/ex5/nbproject/private/
/ex5/build/
/ex6/nbproject/private/
/ex6/build/
/ovaitk/nbproject/private/
/ovaitk/build/
/ex1/build/